# Coverage directory used by tools like istanbul
/coverage

# node-waf configuration
.lock-wscript
/.lock-waf_*_build

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
/node_modules
/npm-debug.log

/tmp/
/src/js/index.js
/dist.zip
/dist/
/build/
/dist-types/
